<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Katherine and Matthew Tole</title>
    <meta name="description" content="The landing page for Matthew and Katherine Tole">
    <meta name="author" content="Matthew Tole">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="flex items-center justify-center h-screen font-serif">
    {{content | safe}}
  </body>
</html>